<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<table class="table">
  <tbody>
    <% @products.each do |p| %>
    <tr>
      <td>
        <%= p.name %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
